body {
    background: white;
    color: black;
    padding: 0;
    margin: 0;
    font-family: Avenir, Georgia, Helvetica, Arial, sans-serif;
    text-align: center;
}

header {
    background: black;
    background-image: url("images/background2.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 700px;
    padding: 0.1px;
    text-align: center;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 30px;
    color: white;
}

header a:hover {
    color: rgba(227, 194, 73, 0.42);
}

header .mobile {
    display: none;
}

nav {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.413);
    z-index: 999999;
}

nav ul {
    list-style-type: none;
    height: 100px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

.currentPage {
    color: rgb(227, 194, 73);
}

.logo a {
    background-image: url("images/logoWhite.png");
    background-size: 300px;
    background-repeat: no-repeat;
    position: relative;
    top: -42px;
    width: 300px;
    height: 100px;
    text-indent: -9999999em;
    display: inline-block;  
}

h1 {
    color: white;
}

.about-us {
    line-height: 2;
    margin: 2% 30% 10%;
    font-style: italic;
    text-align: center;
}

/* Features */

/* .features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features figure {
    margin: auto;
    width: 200px;
    text-transform: uppercase;
    text-align: center;
} */

/* .features figure img {
    border: 1px solid white;
    border-radius: 10%;
    box-shadow: gray 0 0 10px;
    width: 200px;
} */

.contact-section {
    background: gray;
    padding: 0;
    margin: 0;
}

.contact-section h1 {
    text-align: center;
    color: white;

}

.border {
    width: 150px;
    height: 5px;
    background: rgb(58, 58, 58);
    margin: 20px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 18px 0;
    border: solid rgb(58, 58, 58) 2px;
    background: white;
    padding: 20px 40px;
    outline: none;
    color: gray;
    transition: 0.5s;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: black;
    color: white;
    padding: 12px 50px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 50px;
    overflow: hidden;
    width: 600px;
}

.contact-form-btn:hover {
    background: rgb(58, 58, 58);
}

footer {
    background: rgb(58, 58, 58);
    padding: 40px 20px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

/* RESPONSIVE RULES */

@media screen and (max-width: 480px) {

    p {
        font-size: small;
    }

    header{
        font-size: 10px;
        background-image: url("images/background2.jpg");
        background-position: -300px 0;
        background-size: auto;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 600px;
    }

    .logo a {
        background-image: url("images/logoWhite.png");
        background-size: 200px;
        background-repeat: no-repeat;
        position: relative;
        top: -35px;
        width: 300px;
        height: 100px;
        text-indent: -9999999999em;
        display: inline-block;
    }

    header .mobile {
        display: inline-block;
    }
    header .desktop {
        display: none;
    }

    .contact-form-btn {
        float: none;
        background: black;
        color: white;
        padding: 10px 50px;
        cursor: pointer;
        transition: 0.5s;
        margin-bottom: 50px;
        overflow: hidden;
        width: 10px;
        text-align: center;
    }

    footer {
        background: rgb(58, 58, 58);
        padding: 30px 10px;
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) and (max-width: 991px) {

    .about-us {
        margin: 0 12% 20% 12%;
    }

    header{
        background-image: url("images/background2.jpg");
        background-position: -300px 0;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 660px;
    }
}


.map-responsive{
    overflow: hidden;
    padding: 17%;
    position: relative;
}
.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

html {
    scroll-behavior: smooth;
}


.nav {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }