body {
    background: white;
    color: black;
    padding: 0;
    margin: 0;
    font-family: Avenir, Georgia, Helvetica, Arial, sans-serif;
}

header {
    background: black;
    background-image: url("images/background2.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 660px;
    padding: 20px;
    text-align: center;
}

header a {
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
    color: gray;
}

header .mobile {
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

.currentPage {
    color: rgb(150, 184, 3);
}

.logo a {
    background-image: url("images/logoWhite.png");
    background-size: 300px;
    background-repeat: no-repeat;
    position: relative;
    top: -45px;
    width: 300px;
    height: 100px;
    text-indent: -99999999px;
    display: inline-block;
}

h1 {
    color: white;
}

/* Features */

/* .features {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.features figure {
    margin: auto;
    width: 200px;
    text-transform: uppercase;
    text-align: center;
} */

/* .features figure img {
    border: 1px solid white;
    border-radius: 10%;
    box-shadow: gray 0 0 10px;
    width: 200px;
} */

.contact-section {
    background: gray;
    padding: 0;
    margin: 0;
}

.contact-section h1 {
    text-align: center;
    color: white;

}

.border {
    width: 100px;
    height: 10px;
    background: gray;
    margin: 40px auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 18px 0;
    border: solid gray 2px;
    background: white;
    padding: 20px 40px;
    outline: none;
    color: gray;
    transition: 0.5s;
}

textarea.contact-form-text {
    resize: none;
    height: 120px;
}

.contact-form-btn {
    float: right;
    border: 0;
    background: gray;
    color: white;
    padding: 12px 50px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 20px;
    width: 600px;
}

.contact-form-btn:hover {
    background: black;
}

footer {
    background: rgb(58, 58, 58);
    padding: 40px 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    text-decoration: none;
}

.footerEmail {
    text-decoration: none;
    color: white;
}

.footerPhone {
    text-decoration: none;
    color: white;
}

/* RESPONSIVE RULES */

@media screen and (max-width: 709px) {

    header{
        background-image: url("images/background2.jpg");
        background-position: -300px 0;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 660px;
    }
    header .mobile {
        display: inline-block;
    }
    header .desktop {
        display: none;
    }
}

.map-responsive{
    overflow: hidden;
    margin: -20px 20% 0px 20%;
    padding: 20%;
    position: relative;

}
.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}